<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scouting 2018</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="css/vue-impression.css">
    <script src="lib/vue.js"></script>
    <script src="lib/vue-impression.js"></script>
    <script src="lib/store2.min.js"></script>
    <script src="lib/vue-resource.min.js"></script>
    <script src="lib/fastclick.js"></script>
    <!--<script src="lib/kjua.min.js"></script>-->
    <script src="lib/pako.min.js"></script>
    <!--<script type="text/javascript" src="lib/qr/jsqrscanner.nocache.js"></script>-->
    <link rel="stylesheet" href="css/fontawesome.css">
    <style>
    .input-text-input,
    .input-number-input {
        font-size: 100%;
    }
    </style>
</head>

<body style="font-size: 120%">
    <div id="app">
        <!-- MENU START -->
        <sidelip v-model="menu" class="text-center">
            <group-title class="bg-primary" :style="{height: '8rem', padding: '2rem 1rem'}">
                <h2>Scouting 2018</h2>
                <h4>Made by Ajusa</h4>
            </group-title>
            <cell>
                Number of forms: {{data.length}}
            </cell>
            <cell>
                <btn v-if="s.password == auth" theme="default" block @click="viewData = true">VIEW DATA</btn>
            </cell>
            <cell>
                <input-text v-model="s.name" placeholder="Name" type="text" />
            </cell>
            <cell>
                <btn block @click="saveSettings">SAVE SETTINGS</btn>
            </cell>
            <cell>
                <input-text v-model="s.password" placeholder="Password" type="password" />
            </cell>
            <group v-show="s.password == auth">
                <cell>
                    <btn theme="secondary" block @click="clear">CLEAR DATA</btn>
                </cell>
            </group>
        </sidelip>
        <slideup v-model="viewData">
            <navbar theme="default">
                <h4 slot="body">Data on Device</h4>
                <icon name="qrcode" size="lg" @click="qr" slot="footer"></icon>
            </navbar>
            <btn block theme="secondary" @click="deleteSelected()">Delete Selected Reports</btn>
            <cell v-for="(d,i) in data">
                <label class="checkbox checkbox-square">
                    <input type="checkbox" v-model="selectedData" class="checkbox-input" :value="{data: d, _id: i}">
                    <span class="checkbox-addon"><i class="fa fa-check"></i></span>
                    <span class="checkbox-label">Team: {{d.team}}, Match: {{d.match}}</span>
                </label>
                <icon name="trash" class="text-danger" size="lg" @click="remove(i)" slot="footer"></icon>
            </cell>
                
        </slideup>
        <navbar>
            <icon name="navicon" size="lg" @click="menu = true"></icon>
            <h4 slot="body">Scouting 2018</h4>
            <icon name="pencil-square-o" size="lg" @click="viewData = true" slot="footer"></icon>
        </navbar>
        <div class="group-title">Info</div>
        <group>
            <cell>
                <input-text v-model="d.match" placeholder="Match Number" type="number" />
            </cell>
            <cell>
                <input-text v-model="d.team" placeholder="Team Number" type="number" />
            </cell>
            <cell>
                <inline-selector v-model="d.color">
                    Alliance: &nbsp;
                    <inline-selector-option value="red"><span class="blue">Blue</span></inline-selector-option>
                    <inline-selector-option value="blue"><span class="red">Red</span></inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.drive">
                    Drive: &nbsp;
                    <inline-selector-option value="mechanum">Mech</inline-selector-option>
                    <inline-selector-option value="tank">Tank</inline-selector-option>
                    <inline-selector-option value="omni">Omni</inline-selector-option>
                    <inline-selector-option value="unknown">?</inline-selector-option>
                </inline-selector>
            </cell>
        </group>
        <group-title>Auton</group-title>
        <group>
            <cell>
                <inline-selector v-model="d.autonstartposition">
                    Start position: &nbsp;
                    <inline-selector-option value="left">Left</inline-selector-option>
                    <inline-selector-option value="middle">Middle</inline-selector-option>
                    <inline-selector-option value="right">Right</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonmovement">
                    Movement: &nbsp;
                    <inline-selector-option value="moves">Moves</inline-selector-option>
                    <inline-selector-option value="cross">Crosses Line</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonswitch" multiple>
                    Switch: &nbsp;
                    <inline-selector-option value="left">Left</inline-selector-option>
                    <inline-selector-option value="right">Right</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonswithcorrectcolor" multiple>
                    Placed on correct switch color: &nbsp;
                    <inline-selector-option value="yes">Yes</inline-selector-option>
                    <inline-selector-option value="no">No</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonscale" multiple>
                    Scale: &nbsp;
                    <inline-selector-option value="left">Left</inline-selector-option>
                    <inline-selector-option value="right">Right</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonscalecorrectcolor" multiple>
                    Placed on correct scale color: &nbsp;
                    <inline-selector-option value="yes">Yes</inline-selector-option>
                    <inline-selector-option value="no">No</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <inline-selector v-model="d.autonvault" multiple>
                    Vault: &nbsp;
                    <inline-selector-option value="yes">Yes</inline-selector-option>
                    <inline-selector-option value="no">No</inline-selector-option>
                </inline-selector>
            </cell>
           <cell>
                Auton placing quality &nbsp;
                <input-number :min="0" v-model="d.autonplacequality" :max="10"/>
            </cell>
        </group>
        <group-title>Teleop</group-title>
        <group>
            <cell>
                <inline-selector v-model="d.pickup" multiple>
                    Cube collection: &nbsp;
                    <inline-selector-option value="loadingstation">Station</inline-selector-option>
                    <inline-selector-option value="floor">Floor</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                Cubes placed on switch &nbsp;
                <input-number :min="0" v-model="d.switchcubesplaced" :max="20" />
            </cell>
             <cell>
                Cubes placed on scale &nbsp;
                <input-number :min="0" v-model="d.scalecubesplaced" :max="20"/>
            </cell>
            <cell>
                Cubes failed to be placed on switch &nbsp;
                <input-number :min="0" v-model="d.switchcubesfailed" />
            </cell>
             <cell>
                Cubes failed to be placed on scale &nbsp;
                <input-number :min="0" v-model="d.scalecubesfailed" />
            </cell>
             <cell>
                Cubes placed for vault &nbsp;
                <input-number :min="0" v-model="d.vaultcubes" :max="20"/>
            </cell>
            <cell>
                <checkbox v-model="d.defensive">Defensive</checkbox>
            </cell>
             <cell>
                Times stopped robots scoring &nbsp;
                <input-number :min="0" v-model="d.defscore" :max="20"/>
            </cell>
            <cell>
                Times stopped robots pickup &nbsp;
                <input-number :min="0" v-model="d.defpickup" :max="20"/>
            </cell>
              <cell>
                Fouls &nbsp;
                <input-number :min="0" v-model="d.foulnumber" :max="20"/>
              </cell>
            <cell>
                <inline-selector v-model="d.foultype" multiple>
                    Foul type: &nbsp;
                    <inline-selector-option value="Tech">Tech</inline-selector-option>
                    <inline-selector-option value="Yellow">Yellow</inline-selector-option>
                    <inline-selector-option value="Red">Red</inline-selector-option>
                </inline-selector>
            </cell>
        </group>
        <group-title>End Game</group-title>
        <group>
            <cell>
                <inline-selector v-model="d.hang">
                    Hang: &nbsp;
                    <inline-selector-option value="attempt">Attempt</inline-selector-option>
                    <inline-selector-option value="success">Success</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                Time hanging (s) &nbsp;
                <input-number :min="0" v-model="d.hangtime" :step="5" :max="30"></input-number>
            </cell>
             <cell>
                <inline-selector v-model="d.endlevitate">
                    Used levitate: &nbsp;
                    <inline-selector-option value="yes">Yes</inline-selector-option>
                    <inline-selector-option value="no">No</inline-selector-option>
                </inline-selector>
            </cell>
            <cell>
                <checkbox v-model="d.hangsonother">Hangs on other robot</checkbox>
            </cell>
            <cell>
                <checkbox v-model="d.otherhangson">Other robot hangs on to this robot</checkbox>
            </cell>
            <cell>
                Number of other robots hanging &nbsp;
                <input-number :min="0" v-model="d.endrobothangtotal" :max="2"/>
            </cell>

        </group>
        <group-title>Humans</group-title>
        <group>
            <cell>
                <inline-selector v-model="d.driver">
                    Driver: &nbsp;
                    <inline-selector-option value="low">Bad</inline-selector-option>
                    <inline-selector-option value="mid">Avg</inline-selector-option>
                    <inline-selector-option value="high">Good</inline-selector-option>
                </inline-selector>
            </cell>
        </group>
        <group>
            <cell class="no-padding">
                <input-textarea v-model="d.comments" placeholder="Additional Comments" />
            </cell>
        </group>
        <cell>
            <btn block size="lg" @click="submit">SUBMIT</btn>
        </cell>
        <cell id="scanner"></cell>
        <p id="scannedTextMemo"></p>
        <group v-show="showQR">
            <div id="qr"></div>
        </group>
        <br>
        <!--<code>
            {{JSON.stringify(data)}}
        </code>-->
    </div>
</body>
<script src="app.js">
</script>
<script>
    function createQR(data) {
        var el = kjua({
            render: 'canvas',
            crisp: true,
            // error correction level: 'L', 'M', 'Q' or 'H'
            ecLevel: 'L',
            // size in pixels
            size: 650,
            ratio: null,
            text: data, //actual value
            rounded: 100,
        });
        el.id = "qr"
        el.style["max-width"] = "100%"
        el.style["height"] = "auto"
        el.style.display = "block"
        el.style.margin = "0 auto"
        var toReplace = document.getElementById('qr');
        toReplace.parentNode.replaceChild(el, toReplace);
        document.getElementById('qr').scrollIntoView();
    }

    if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function () {
            FastClick.attach(document.body);
        }, false);
    }
</script>
<script>
    var lastScan = ""

    function onQRCodeScanned(scannedText) {
        console.log(scannedText)
        if (lastScan != scannedText) {
            lastScan = scannedText
            app.decodeQR(lastScan)
        }
        if (scannedTextMemo) {
            scannedTextMemo.value = scannedText;
        }
    }

    //this function will be called when JsQRScanner is ready to use
    function JsQRScannerReady() {
        //create a new scanner passing to it a callback function that will be invoked when
        //the scanner succesfully scan a QR code
        var jbScanner = new JsQRScanner(onQRCodeScanned);
        //reduce the size of analyzed images to increase performance on mobile devices
        jbScanner.setSnapImageMaxSize(300);
        var scannerParentElement = document.getElementById("scanner");
        scannerParentElement.style.display = "block"
        scannerParentElement.style.margin = "0 auto"
        if (scannerParentElement) {
            //append the jbScanner to an existing DOM element
            jbScanner.appendTo(scannerParentElement);
        }
    }
</script>

</html>